{% extends "base.html" %}
{% block content %}

<h3>Add destination:</h3>

<div class="buttons">
    <form class = "add_destination_button" action = "/destinations/new">
        <button class="fa fa-solid fa-plus fa-3x" style="color:rgb(47, 192, 7)"></button>
    </form>
</div>

<h3>All destinations:</h3>

{% for destination in all_destinations %} 

    <div class = "destination">
        <div class = "destination_content">
            <hr>
            <a href = "/destinations/{{destination.id}}">{{destination.destination_name}}</a>
            <p> {{destination.country}} </p>
            <p> {{destination.continent}} </p>
        </div>
    </div>


{% endfor %}

{% endblock %}