{% extends "base.html" %}
{% block content %}

<h3> Show destination:</h3>
 <div class="destination_show">
    <p>{{destination.destination_name}}</p>
    <p>{{destination.country}}</p>
    <p>{{destination.continent}}</p>
    <p><a href="/destinations/{{destination.id}}/edit">Edit destination</a></p>
  </div>
 

<h3> Treks within destination:</h3>

    
{% for trek in all_treks %}
  
{% if trek.destination.destination_name == destination.destination_name %}
    <div class = "trek">
        <div class = "trek_content">
            <p> Name: {{trek.trek_name}} </p>
            <p> Distance: {{trek.trek_distance}}Km </p>
            <p> Number of days: {{trek.trek_days}} </p>
            <p> Headline: {{trek.trek_headline}} </p>
            <p> Completed: {{trek.trek_completed}} </p>
            <P> Notes: {{trek.trek_notes}} </p>  
            <hr>
        </div>
    </div>
   {% endif %}

{% endfor %}   


{% endblock %}
