{% extends "base.html" %}
{% block content %}

<h3> Show destination:</h3>
 <div class="destination_show">
    <p>{{destination.destination_name}}</p>
    <p>{{destination.country}}</p>
    <p>{{destination.continent}}</p>
    <p><a href="/destinations/{{destination.id}}/edit">Edit destination</a></p>
  </div>
 

<h3> Treks within destination:</h3>

    {% for treks in all_treks %} 

        <div class = "trek">
            <div class = "trek_content">
                <hr>
                <p> Name: {{treks.trek_name}} </p>
                <p> Destination: {{treks.destination.destination_name}} </p>
                <p> Distance: {{treks.trek_distance}}Km </p>
                <p> Number of days: {{treks.trek_days}} </p>
                <p> Headline: {{treks.trek_headline}} </p>
                <p> Completed: {{treks.trek_completed}} </p>
                <P> Notes: {{treks.trek_notes}} </p>  
            </div>

    {% endfor %} 


{% endblock %}
