{% extends "base.html" %}
{% block content %}

<h3> All treks:</h3>
{% for trek in all_treks %} 

    <div class = "trek">
        <div class = "trek_content">
            <p> Name: <a href = "/treks/{{trek.id}}">{{trek.trek_name}}</a> </p>
            <p> Destination: {{trek.destination.destination_name}} </p>
            <p> Distance: {{trek.trek_distance}}Km </p>
            <p> Number of days: {{trek.trek_days}} </p>
            <p> Headline: {{trek.trek_headline}} </p>
            <p> Completed: 
                {% if trek.trek_completed %} 
                <span> &#9989;</span>
                {% else %} 
                <span>&#10060;</span>
                {% endif %}
            </p>  
        </div>
    </div>

{% endfor %}

{% endblock %}