body {
    font-family:sans-serif;
    background:#89A894;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;

}

header {
    background: #49393B;
    display: flex;
    align-items: center;
}



header > nav > ul {
    display: flex; 
    gap: 1rem; 
    list-style: none;
    margin: 0;
    padding: 0; 
}

nav > ul > li > a {
    color:white;
}



.dropdestinationbtn {
    background-color:#49393B;
    color:white ;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown_destination {
    display:inline-block;
    position: relative;
}

.dropdown_destination_content {
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    width: 120%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_destination:hover .dropdown_destination_content {
    display: block; 
}

.dropdown_destination_content a {
    display: block; 
    color: #000000; 
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown_destination_content a:hover {
    background-color: #f1f1f1 ;
}

.droptreksbtn {
    background-color:#49393B;
    color:white ;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown_treks {
    display:inline-block;
    position: relative;
}

.dropdown_treks_content {
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    width: 120%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_treks:hover .dropdown_treks_content {
    display: block; 
}

.dropdown_treks_content a {
    display: block; 
    color: #000000; 
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown_treks_content a:hover {
    background-color: #f1f1f1 ;
}





main {
    margin: auto;
}

main > section {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
}

footer {
    background: #49393B;
    color: white; 
    display: flex; 
    justify-content: center;
}

.home_content {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
    margin: 1rem;
    
}

.home_content > h3 {
    text-align: center;
}

.trek {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
    margin: 1rem;
}



.trek_show {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
}

.edit_trek {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
}

.new_trek {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
}

.destination {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
    margin: 1rem;
}

.destination_show {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem;    
}

.new_destination {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
}

.edit_destination {
    background:#E2E2E2;
    padding: 1rem; 
    border: 2px solid black;
    border-radius: 1rem; 
}

