<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TrekTracker</title>
</head>
<body>
    <header>
      <a href="{{ url_for ('home') }}"><img src="/static/images/logo.png" alt="TrekTracker logo" width="120" height="100"></a>
        <nav>
          <ul class="menu">
            <li>
              <div class = "dropdown_destination">
              <button class = "dropdestinationbtn">Destinations</button>
              <div class = "dropdown_destination_content">
                <a href="/destinations">All Destinations</a>
                <a href="/destinations/new">Add Destination</a>
              </div>
            </div>
          </li>
          <div class = "dropdown_treks">
            <button class = "droptreksbtn">Treks</button>
            <div class = "dropdown_treks_content">
              <a href="/treks">All Treks</a>
              <a href="/treks/new">Add Trek</a>
            </div>
          </div></li>
          </ul>
        </nav>

      </header>

      <main>
          {% block content %}
          {% endblock %}
      </main>
      <footer>
        <p><strong> TrekTracker &copy; 2023</strong></p>
      </footer>
</body>
</html>