<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>TrekTracker</title>
</head>
<body>
    <header>
      <h1>TrekTracker</h1>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for ('home') }}">TrekHome</a></li>
            <li><a href="/destinations">AllDestinations</a></li>
            <li><a href="/treks">AllTreks</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <section>
          {% block content %}
          {% endblock %}
        </section>
      </main>
      <footer>
        <p><strong> TrekTracker &copy; 2023</strong></p>
      </footer>
</body>
</html>